
<h1>Hosting</h1>
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @hosting.each do |hosting| %>
    <tr>
        <th scope="row"></th>
        <td><%= hosting.description %></td>
        <td><%= hosting.date %></td>
        <td><%= hosting.time %></td>
        <td><%= link_to "More", hosting %></td>
    </tr>
    <% end %>
  </tbody>
  </table>

<h1>Attending</h1>
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">More Info</th>

    </tr>
  </thead>
  <tbody>
    <% @attended_events.each do |attended_event| %>
    <tr>
        <th scope="row"></th>
        <td><%= attended_event.description %></td>
        <td><%= attended_event.date %></td>
        <td><%= attended_event.time %></td>
        <td><%= link_to "More", attended_event %></td>
    </tr>
    <% end %>
  </tbody>
  </table>

  <h1>Upcoming Events</h1>
    <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">More Info</th>

      </tr>
    </thead>
    <tbody>
      <% @upcoming_events.each do |upcoming_event| %>
      <tr>
          <th scope="row"></th>
          <td><%= upcoming_event.description %></td>
          <td><%= upcoming_event.date %></td>
          <td><%= upcoming_event.time %></td>
          <td><%= link_to "More", upcoming_event %></td>
      </tr>
      <% end %>
    </tbody>
    </table>

    <h1>Past Events</h1>
      <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">More Info</th>

        </tr>
      </thead>
      <tbody>
        <% @past_events.each do |past_event| %>
        <tr>
            <th scope="row"></th>
            <td><%= past_event.description %></td>
            <td><%= past_event.date %></td>
            <td><%= past_event.time %></td>
            <td><%= link_to "More", past_event %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
