
<h1>Hosting</h1>
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @hosting.each do |hosting| %>
    <tr>
        <th scope="row"></th>
        <td><%= hosting.description %></td>
        <td><%= hosting.date %></td>
        <td><%= hosting.time %></td>
        <td><%= link_to "More", hosting %></td>
    </tr>
    <% end %>
  </tbody>
  </table>

<h1>Attending</h1>
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">More Info</th>

    </tr>
  </thead>
  <tbody>
    <% @attended_events.each do |attended_event| %>
    <tr>
        <th scope="row"></th>
        <td><%= attended_event.description %></td>
        <td><%= attended_event.date %></td>
        <td><%= attended_event.time %></td>
        <td><%= link_to "More", attended_event %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
