<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
	<% if @event.attendees.include?(current_user) %>
		<%= link_to "Leave", unattend_path(event_id: @event.id, user_id: current_user.id), method: :delete, class: "btn-primary btn-lg" %>
	<% else %>
		<%= link_to "Attend", attend_path(event_id: @event.id, user_id: current_user.id), method: :post, class: "btn-primary btn-lg" %>
	<% end %>
<% end %>


<h2>Event Info</h2>
<p>
  <strong>Hosted By:</strong>
  <%= @event.host.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<hr>

<h2>Attending</h2>

<% @event.attendees.each do |attendee| %>
	<li class="list-group-item">
		<%= link_to attendee.email, attendee %>
		<% if current_user == @event.host %>
			<br>
			<%= link_to "Remove", unattend_path(event_id: @event.id, user_id: attendee.id), method: :delete, class: "btn-seconday btn-sm" %>
		<% end %>
	</li>
<% end %>
